/* All styles for your header Components live here */
h1{
  
}

.header-container{
    height: 40px;
    padding: 10px;
    margin-bottom:90px;
    display: flex;
   
   
    
}
.thumbnail{

    height: 50px;
    padding: 0.3em;
}

.title {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    padding-left: 5px;
}

.header-tag {
    color: grey;
    padding-left: 30px;
    padding-top: 12px;    
}

.header-content{
   display: flex;
   width: 600px;
   margin-left: 160px;
   position: relative;
   bottom: 100px;
   font-size: 25px;
}